.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #217575;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    display: inline;
    padding-right: 100px;
  }
  
 .navbar a {
    display: block;
    padding: 10px;
    background-color: #217575;
    color: yellow;
    text-decoration: none;
    font-size: 20px;
  }

  .card {
    border-image: linear-gradient(green, red);
    border-image-slice: 10;
    border-image-outset: 15px; 
  }